.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .login-card {
    margin: 16px;
    width: 768px;
  }
}
