<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="onSelectedIndexChange($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
    <mat-form-field *ngFor="let translationFieldLabel of translationFieldLabelMap | keyvalue" class="full-width">
      <mat-label>{{translationFieldLabel.value}}</mat-label>
      <input matInput [formControl]="translationFieldFormControlMap.get(translationFieldLabel.key)!"/>
    </mat-form-field>
  </mat-tab>
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <a mat-icon-button (click)="addLanguage()">
        <mat-icon>add</mat-icon>
      </a>
    </ng-template>
  </mat-tab>
</mat-tab-group>
