@use '../../../colors' as color;

.side-navigation {
  background-color: color.$side-navigation;
}

.side-navigation-content {
  height: 100vh;
}

.navigation-list {
  min-width: 256px;
}

.child-node {
  padding-left: 72px;
}
