@use '../../../colors' as color;

.bottom-navigation {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: color.$bottom-navigation;
  backdrop-filter: saturate(75%) blur(6px);
}
