@use '../../../colors' as color;

.main-bottom-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: color.$bottom-navigation;
  backdrop-filter: saturate(75%) blur(6px);
}
